In [50]:
# Dependencies and Set up
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests
import pymongo
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo

In [51]:
# Browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\uldom\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [4]:
# url for NASA Mars Ners
url = 'https://redplanetscience.com/'
browser.visit(url)

In [6]:
# HTML
html = browser.html

# BeautifulSoup
soup = BeautifulSoup(html, "html.parser")

In [8]:
# Select latest news
title = soup.select_one('div.list_text')
title = title.find('div', class_='content_title').get_text()
title

'NASA to Hold Mars 2020 Perseverance Rover Launch Briefing'

In [9]:
# Select paragraph
paragraph = soup.select_one('div.list_text')
paragraph = paragraph.find('div', class_='article_teaser_body').get_text()
paragraph

"Learn more about the agency's next Red Planet mission during a live event on June 17."

In [10]:
# Print results, title and paragraph
print(f"News Title: {title}")
print(f"News Paragraph: {paragraph}")

News Title: NASA to Hold Mars 2020 Perseverance Rover Launch Briefing
News Paragraph: Learn more about the agency's next Red Planet mission during a live event on June 17.

In [41]:
# New url for JPL Mars Space Images - Featured Image
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [42]:
# HTML
html = browser.html

# BeautifulSoup
soup = BeautifulSoup(html, "html.parser")

In [43]:
# Home splinter click the 'Full Image' button
f_image = browser.links.find_by_partial_text('FULL IMAGE').click()

# Reset the connection

# HTML
html = browser.html
# BeautifulSoup
soup = BeautifulSoup(html, "html.parser")

In [44]:
# Image
featured_image_url = url + soup.find('img', class_='fancybox-image')['src']
print(f"Featured Image URL: {featured_image_url}")

Featured Image URL: https://spaceimages-mars.com/image/featured/mars2.jpg

In [52]:
# New url for Mars Facts
url = 'https://galaxyfacts-mars.com'
browser.visit(url)

In [53]:
# HTML
html = browser.html

# BeautifulSoup
soup = BeautifulSoup(html, "html.parser")

In [57]:
# Facts about the planet
mars_facts = soup.find('table', class_ ='table table-striped')
mars_facts = pd.read_html(str(mars_facts))[0]
mars_facts.rename(columns={0: 'Description', 1: 'Values'},errors='raise', inplace=True)
# mars_facts = mars_facts.set_index('Description')
mars_facts

            Description                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [58]:
# Use Pandas to convert the data to a HTML table string
mars_facts_html = mars_facts.to_html()
print(mars_facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Description</th>
      <th>Values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>